@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&display=swap');

:root {
    --light-tone: #e5bfff;
    --light-highlight: #e5bfff;
    --mid-tone: #b26be2;
    --dark-tone: #3f0963;
    --darker-tone: #31054f;
    --dark-highlight: #200532;

    --s: min(7vw, 70px);
    --m: min(0.4vw, 5px);
    --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px); 
    --draggable-width: min(5vw, 50px);

    --w: max(2.5vw, 20px);
}

.board {
    display: flex;
    
}

.container {
    font-size: 0;
    width: calc(8 * var(--s) + 8 * var(--m));
    padding: 0 2vw 0 2vw;
}

.container::before {
    content: "";
    width: calc(var(--s)/2 + var(--m));
    float: left;
    height: 120%; 
    shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
}

.traits {
    flex: 2;
}

.hex {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s) * 1.1547);
    display: inline-block;
    font-size: initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    margin-bottom: calc(var(--m) - var(--s) * 0.2886);
    background-color: var(--light-tone);
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.organizer-header {
    width: 100%;
    margin: 10px 0px 10px 0px;
    justify-content: center;
}

.organizer-container {
    margin-top: 2vw;
    width: 100%;
    font-family: 'Gabarito';
}

.img-container {
    justify-content: center;
    margin: 0 10vw 0 10vw;
}

.filter-container {
    width: 30vw;
}

.filter-button {
    text-align: center;
    width: 5rem;
    border-radius: 10px;
    margin: 5px;
}

.filter-button.active {
    background-color: var(--mid-tone);
}

.filter-button:hover {
    background-color: var(--light-highlight);
}

.search-field {
    margin-left: 10px;
    margin-right: 10px;
    width: 50%;
    border: none;
    background: none;
    color: var(--light-tone);
    font-family: 'Gabarito';
}

.searh-field::placeholder {
    color: var(--light-tone);
}

.search-field:focus {
    border: none;
    outline: none;
}

.search-icon {
    margin-left: 10px;
}

.search-bar {
    border-color: var(--light-highlight);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    padding: 2px;
    width: min(80%, 500px);
    display: flex;
    align-items: center;
}

.item-images {
    display: inline-flex;
    flex-wrap: wrap;
    width: 50%;
}

.unit-images {
    display: inline-flex;
    flex-wrap: wrap;
    width: 50%;
}

.item {
    margin: 3px;
    position: relative;
    height: var(--draggable-width);
    width: var(--draggable-width);
    border-radius: 10px;
    overflow: hidden;
}

.item-name {
    font-size: 7.5px;
    color: white;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0px;
}

.unit {
    margin: 3px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: var(--draggable-width);
    width: var(--draggable-width)
}

.unit-name {
    font-size: 9px;
    color: white;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0.5);
}

.unit-cost {
    font-size: 11px;
    padding: 1px 1px 0px 0px;
    font-weight: bold;
    text-shadow: 0 0 3px #000000;
    color: white;
    text-align: center;
    border-radius: 0 0 0 5px;
}

.hex-items {
    position: absolute;
    left: 0;
    bottom: -0.9rem;
    width: 100%;
    text-align: center;
    border-width: 2px;
}

.hex-container {
    position: relative;
}

.hex-unit {
    clip-path: polygon(5% 28%, 5% 72%, 50% 94%, 95% 72%, 95% 28%, 50% 6%);
    z-index: 300;
    position: absolute;
    width: var(--s);
    height: calc(var(--s) * 1.1547);
    background-color: var(--dark-tone);
}

.trait-container {
    align-items: center;
    color: var(--light-tone);
    margin: 5px;
    transform: scaleX(-1);
}

.traits {
    overflow: auto;
    height: calc(2.1 * var(--f));
    transform: scaleX(-1);
}

.traits::-webkit-scrollbar {
    width: 10px;
}

.traits::-webkit-scrollbar-track {
    background: var(--dark-tone);
}

.traits::-webkit-scrollbar-thumb {
    background: var(--darker-tone);
}

.trait-icon {
    width: var(--w);
    height: calc(var(--w) * 1.1547);
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    border-style: none;
    background-color: var(--dark-highlight);
}

.trait-name {
    font-family: 'Gabarito';
    font-size: 80%;
    font-weight: 700;
    padding-left: calc(var(--w));
}

.trait-active {
    background-color: var(--dark-highlight);
    z-index: 3;
    font-family: 'Gabarito';
    font-size: 100%;
    height: calc(var(--w)  * 0.59);
    width: calc(var(--w)  * 0.59);

    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
}

.trait-intervals {
    padding-left: calc(var(--w) * 0.7);
}

.trait-intervals > div {
    padding: 1px 3px 1px 3px;
    font-family: 'Gabarito';
    font-size: 70%;
}

.trait-intervals > .highlight {
    color: var(--light-highlight);
}

.trait-body {
    flex-direction: column;
    justify-content: center;
    background-color: var(--darker-tone);
    position: relative;
    left: calc(var(--w) / -2 - var(--w)  * 0.59);
    height: calc(var(--w) * 1.1547);
    clip-path: polygon(0% 0%, 0% 100%, 90% 100%, 100% 50%, 90% 0%);
    padding: 1px 20px 1px 20px;
}

