@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&display=swap');

/* --- GENERAL VARIABLES -- */
:root {
    --light-tone: #e5bfff;
    --light-highlight: #e5bfff;
    --mid-tone: #b26be2;
    --dark-tone: #3f0963;
    --darker-tone: #31054f;
    --dark-highlight: #200532;

    --hex-width: clamp(35px, 7vw, 70px);
    --hex-margin: min(0.4vw, 5px);
    --gradient-calc: calc(var(--hex-width) * 1.732 + 4 * var(--hex-margin) - 1px); 
    --draggable-width: clamp(33px, 6vw, 45px);

    --trait-icon-width: max(4vw, 30px);
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* --- PAGE HEADER SECTION ---*/
.page-title {
    width: 100%;
    text-align: center;
}

.reset-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset-button {
    width: min(20vw, 150px);
    padding: 4px;
    border: var(--light-tone) solid 2px;
    border-radius: 10px;
    text-align: center;
    margin: 0px 0px 15px 0px;
}

.reset-button:hover {
    background-color: var(--dark-highlight);
}

.errorMessage {
    width: 100%;
    text-align: center;
    color: rgb(238, 10, 10);
    margin: 10px 0px 15px 0px;
}

/* --- BOARD AND TRAITS SECTION --- */

.board {
    display: flex;
}

/* Board Hexes */

.container {
    font-size: 0;
    width: calc(8 * var(--hex-width) + 8 * var(--hex-margin));
    padding: 0 2vw 0 2vw;
}

.container::before {
    content: "";
    width: calc(var(--hex-width)/2 + var(--hex-margin));
    float: left;
    height: 120%; 
    shape-outside: repeating-linear-gradient(#0000 0 calc(var(--gradient-calc) - 3px), #000 0 var(--gradient-calc));
}

.hex {
    width: var(--hex-width);
    margin: var(--hex-margin);
    height: calc(var(--hex-width) * 1.1547);
    display: inline-block;
    font-size: initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    margin-bottom: calc(var(--hex-margin) - var(--hex-width) * 0.2886);
    background-color: var(--light-tone);
}

.hex-items-container {
    position: absolute;
    left: 0;
    bottom: -0.9rem;
    width: 100%;
    text-align: center;
    border-width: 2px;
}

.hex-items {
    height: min(20%, 16px);
    width: min(20%, 16px);
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.hex-container {
    position: relative;
}

.hex-unit {
    clip-path: polygon(5% 28%, 5% 72%, 50% 94%, 95% 72%, 95% 28%, 50% 6%);
    z-index: 300;
    position: absolute;
    width: var(--hex-width);
    height: calc(var(--hex-width) * 1.1547);
    background-color: var(--dark-tone);
}

.hex-unit.hovered {
    background-color: var(--dark-highlight);
}

/* Board Traits */

.traits {
    flex: 2;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(2.1 * var(--gradient-calc));
    transform: scaleX(-1);
}

.trait-container {
    align-items: center;
    color: var(--light-tone);
    margin: 5px;
    transform: scaleX(-1);
    margin-left: -11px;
}

.traits::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

.traits::-webkit-scrollbar-track {
    background: var(--dark-tone);
}

.traits::-webkit-scrollbar-thumb {
    background: var(--darker-tone);
}

.trait-icon {
    width: var(--trait-icon-width);
    height: calc(var(--trait-icon-width) * 1.1547);
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    border-style: none;
    background-color: var(--dark-highlight);
}

.trait-name {
    font-family: 'Gabarito';
    font-size: 70%;
    font-weight: 700;
    padding-left: calc(var(--trait-icon-width));
}

.trait-active {
    background-color: var(--dark-highlight);
    z-index: 3;
    font-family: 'Gabarito';
    font-size: 100%;
    height: calc(var(--trait-icon-width)  * 0.59);
    width: calc(var(--trait-icon-width)  * 0.59);

    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
}

.trait-intervals {
    padding-left: calc(var(--trait-icon-width) * 0.7);
}

.trait-intervals > div {
    padding: 1px 3px 1px 3px;
    font-family: 'Gabarito';
    font-size: 60%;
    opacity: 30%;
}

.trait-intervals > .highlight {
    opacity: 100%;
}

.trait-body {
    flex-direction: column;
    justify-content: center;
    background-color: var(--darker-tone);
    position: relative;
    left: calc(var(--trait-icon-width) / -2 - var(--trait-icon-width)  * 0.59);
    height: calc(var(--trait-icon-width) * 1.1547);
    clip-path: polygon(0% 0%, 0% 100%, 90% 100%, 100% 50%, 90% 0%);
    padding: 1px 20px 1px 20px;
}

/* --- ORGANIZER SECTION  --- */

.organizer-container {
    margin-top: 2vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gabarito';
}

/* Organizer Header */

.organizer-header {
    width: 100%;
    margin: 10px 20px 10px 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.filter-container {
    width: 30vw;
}

.filter-button {
    text-align: center;
    width: 5rem;
    border-radius: 10px;
    margin: 5px;
}

.filter-button.active {
    background-color: var(--mid-tone);
}

.filter-button:hover {
    background-color: var(--dark-highlight);
}

.search-bar {
    border-color: var(--light-highlight);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    margin-left: 10px;
    padding: 2px;
    width: min(80%, 300px);
    display: flex;
    align-items: center;
}

.search-field {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    border: none;
    background: none;
    color: var(--light-tone);
    font-family: 'Gabarito';
}

.searh-field::placeholder {
    color: var(--light-tone);
}

.search-field:focus {
    border: none;
    outline: none;
}

.search-icon {
    margin-left: 10px;
}

/* Organizer Images */

.img-container {
    margin: 0 10vw 0 10vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: min(max(60vw, 300px), 1500px);
}

.item-images {
    display: inline-flex;
    flex-wrap: wrap;
    flex: 10;
    margin: 20px;
}

.unit-images {
    display: inline-flex;
    flex-wrap: wrap;
    flex: 9;
    justify-content: flex-end;
    margin: 20px;
}

.item {
    margin: 3px;
    display: flex;
    position: relative;
    height: var(--draggable-width);
    width: var(--draggable-width);
    border-radius: 10px;
    overflow: hidden;
}

.item-name {
    font-size: 7.5px;
    color: white;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0px;
}

.unit {
    margin: 3px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: var(--draggable-width);
    width: var(--draggable-width)
}

.unit-name {
    font-size: 9px;
    color: white;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0.5);
}

.unit-cost {
    font-size: 11px;
    padding: 1px 1px 0px 0px;
    font-weight: bold;
    text-shadow: 0 0 3px #000000;
    color: white;
    text-align: center;
    border-radius: 0 0 0 5px;
}

@media only screen and (max-width: 900px) {
    .hex-items-container {
        bottom: -0.4rem;
    }

    .unit-images {
        margin: 5px;
    }

    .item-images {
        margin: 5px;
    }

    .img-container {
        margin: 0 5px 0 5px;
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        --hex-width: 10vw;
    }

    .board {
        flex-direction: column;
        align-items: center;
    }

    .page-title {
        font-size: 20px;
        margin-top: 30px;
    }

    .errorMessage {
        font-size: 10px;
    }

    .search-bar {
        margin-top: 10px;
    }

    .img-container {
        padding-left: 10px;
    }

    .unit-images {
        justify-content: flex-start;
    }

    .reset-button {
        font-size: 12px;
        margin: 0px 0px 5px 0px;
        width: 100px;
    }

    .organizer-header {
        flex-direction: column;
        align-items: center;
    }

    .unit-name {
        display: none;
    }

    .unit-cost {
        display: none;
    }

    .item-name {
        display: none;
    }

    .trait-name {
        font-size: 60%;
        margin-bottom: 1px;
    }

    .trait-intervals {
        font-size: 90%;
        margin-left: calc(2px + 5vw);
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    .trait-intervals > div {
        padding: 1px 2px 1px 2px;
        opacity: 30%;
    }

    .traits::-webkit-scrollbar {
        width: 5px;
    }

    .trait-active {
        font-size: 70%;
    }

    .trait-body {
        clip-path: polygon(0% 0%, 0% 100%, 90% 100%, 100% 50%, 90% 0%);
        padding: 1px 15px 1px 12px;
        width: max(20vw, 100px);
        text-align: center;
    }

    .traits {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        width: 80vw;
        margin-top: 4vw;
        padding-right: -30px;
    }

    .trait-container {
        flex-shrink: 0;
        width: max(40vw, 200px);
        margin-left: -15%;
    }
}

@media only screen and (max-width: 400px) {
    :root {
        --trait-icon-width: 6vw;
    }

    .trait-name {
        font-size: 54%;
        margin: 0;
    }

    .trait-container {
        flex-shrink: 0;
        width: 180px;
        margin-left: -60px;
    }

    .trait-body {
        width: 80px;
        text-align: center;
        padding-top: 0;
        padding-bottom: 0;
    }

    .trait-intervals > div{
        font-size: 8%;
        padding-top: 0;
        padding-bottom: 0;
    }
}